main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

.card {
  background-color: rgba(241, 219, 233, 0.9); 
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.image-style {
  width: 100%;
  max-width: 40%;
  height: auto; 
}

.Button {
  margin-top: 20px;
  background-color: #e00297;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #f2bdd4;
}

.listOption {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px 0;
  margin-top: 8px;
  width: 150px;
  z-index: 100;
}